.page-projet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-projet h1 {
    font-size: 100px;
    margin: 50px 10px;
}

.projet-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
}