.titre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 0px 50px 150px 50px;
}

.ligne-1 {
    display: flex;
    align-items: flex-end; 
}

.ligne-1 img {
    width: 400px;
    object-fit: contain;
    margin-right: 20px;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInLeft 1.5s ease forwards;
    transition: filter 0.2s ease;
}

.ligne-1 img:hover {
    filter: grayscale(100%)
}

.ligne-1 h1 {
    font-size: 150px;
    font-weight: 400;
    margin: 0; 
    padding: 0;
    line-height: 0.6;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.5s ease forwards;
}

.ligne-2 h1 {
    font-size: 100px;
    font-weight: 400;
    margin: 0; 
    padding: 0;
    line-height: 0.6;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.5s ease forwards;
    animation-delay: 0.5s;
}

.ligne-3 h1 {
    color: #6B1C12;
    font-size: 60px;
    font-weight: 400;
    margin: 0; 
    padding: 0;
    line-height: 0.4;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.5s ease forwards;
    animation-delay: 0.5s;
}

.texte-container {
    display: flex;
    text-align: left;
    border-left: solid 2px rgb(54, 54, 54);
    font-size: 38px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    line-height: 50px;
    margin: 0px 200px 100px 200px;
    padding-left: 20px;
}




/* Animations */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}