@font-face {
  font-family: 'Gallient';
  src: url('./assets/fonts/Gallient.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none; 
  cursor: none;
}

body {
  background-color: white;
}

h1 {
  font-family: 'Gallient', sans-serif;
  color: rgb(54, 54, 54);
  margin: 0;
  padding: 0;
}

p {
  font-family: 'DM sans', sans-serif;
  color: rgb(54, 54, 54);
  margin: 0;
  padding: 0;
}